<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en"
      xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{fragments :: page_head('progress')}" />
<body>
<div class="container-fluid">

  <header>
    <div th:replace="~{navigation :: menu}" />
  </header>

  <br>

  <div th:if="${message != null}" class="alert alert-success text-center">
    [[${message}]]
  </div>

  <h1>Skills with Progress:</h1>
    <br>

    <th:block sec:authorize="hasAuthority('Student')">
        <ul>
            <li th:each="skill : ${skillTree}">
                <span style="font-size: 28px">
                    <b>[[${skill.skill.description}]]
                        <th:block th:each="i: ${#numbers.sequence(1, 11)}">
                            <i th:if="${i &lt;= skill.skill.progress}" class="fa-solid fa-star"></i>
                            <i th:unless="${i &lt;= skill.skill.progress}" class="fa-regular fa-star"></i>
                         </th:block>
                    </b>
                </span>

                <ul th:if="${#lists.size(skill.children) > 0}">
                    <li th:each="child : ${skill.children}">
                        <span style="font-size: 26px">
                            <i>
                                [[${child.skill.description}]]
                                <th:block th:each="i: ${#numbers.sequence(1, 11)}">
                                    <i th:if="${i &lt;= child.skill.progress}" class="fa-solid fa-star"></i>
                                    <i th:unless="${i &lt;= child.skill.progress}" class="fa-regular fa-star"></i>
                                </th:block>
                            </i>
                        </span>

                        <ul th:if="${#lists.size(child.children) > 0}">
                            <li th:each="grandChild : ${child.children}">
                                <span style="font-size: 22px">
                                    <a style="text-decoration: none;"
                                       href="'skills/' + ${grandChild.skill.id}"
                                       th:title="${grandChild.skill.description}">
                                        [[${grandChild.skill.name}]]
                                    </a>
                                </span>
                                <th:block th:each="i: ${#numbers.sequence(1, 11)}">
                                    <i th:if="${i &lt;= grandChild.skill.progress}" class="fa-solid fa-star"></i>
                                    <i th:unless="${i &lt;= grandChild.skill.progress}" class="fa-regular fa-star"></i>
                                </th:block>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </th:block>

    <th:block sec:authorize="hasAuthority('Admin') or hasAuthority('Teacher')">
        <h5>Your Students</h5>
        <table class="table table-bordered" style="width: 300px">
            <th:block th:each="student : ${allStudent}">
                <tr>
                    <td th:text="${student.id}"></td>
                    <td>
                        <a th:href="@{'/progress/progressForUser/' + ${student.id}}"
                           th:text="${student.email}"
                           title="show progress">
                        </a>
                    </td>
                </tr>
            </th:block>

        </table>
    </th:block>





  <div th:replace="~{fragments :: footer}"></div>




</div>

</body>
</html>